* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: black;
    color: #F6F6F6;
    box-sizing: border-box;
}

.titulo-destaque {
    color: #22D4FD;
    font-weight: bold;
    padding: 10px;
}

.apresentacao {
    display: flex;
    align-items: center;
}